<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
    <include resource="logback/logback-stdout.xml"/>
    <include resource="logback/logback-json-appender.xml"/>

    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
        <logger name="com.example.todo" level="TRACE"/>
    </springProfile>

    <springProfile name="">
        <include resource="logback/logback-json-appender.xml"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE_WITH_JSON"/>
        </root>
    </springProfile>
</configuration>
