<?xml version="1.0" encoding="UTF-8" ?>

<included>
    <appender name="CONSOLE_WITH_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>time</fieldName>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <loggerName>
                    <fieldName>logger</fieldName>
                </loggerName>
                <callerData>
                    <classFieldName>class</classFieldName>
                    <fileFieldName>fileName</fileFieldName>
                    <methodFieldName>method</methodFieldName>
                    <lineFieldName>line</lineFieldName>
                </callerData>
                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>
                <threadName>
                    <fieldName>thread</fieldName>
                </threadName>
                <mdc/>
                <message>
                    <fieldName>message</fieldName>
                </message>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>
</included>
