<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.todo.infrastructure.mapper.TaskMapper">
    <select id="selectAll" parameterType="int" resultType="com.example.todo.domain.entity.TaskEntity">
        select
            task_id,
            task_summary,
            task_description,
            user_id,
            status_id,
            registered_at,
            updated_at
        from
            tasks
        where user_id = #{userId}
    </select>

    <insert id="insert" parameterType="com.example.todo.domain.entity.Task">
        insert into tasks(
            task_id,
            task_summary,
            task_description,
            user_id,
            status_id
        )
        values
        (
            #{taskId},
            #{taskSummary},
            #{taskDescription},
            #{userId},
            #{status}
        )
    </insert>

    <update id="update" parameterType="com.example.todo.domain.entity.Task">
        update tasks
        set
            task_summary = #{taskSummary},
            task_description = #{taskDescription},
            status_id = #{status}
        where
            user_id = #{userId}
        and task_id = #{taskId}
    </update>
</mapper>
